@using Retaline.Core.ViewModel.Catalog;
@inject Retaline.Core.Services.Catalog.ICatalogService catalogService;
@inject Retaline.Core.Services.Authentication.ICustomAuthenticationService customAuthService;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@inject Retaline.Core.Services.Info.IPageService _pageService;
@inject Retaline.Core.Caching.IStaticCacheManager _staticCacheManager;


@{
    List<Retaline.Core.BusinessModel.Catalog.CategoryData> _categories = new List<Retaline.Core.BusinessModel.Catalog.CategoryData>();
    try
    {
        _categories = catalogService.FilteredCategories().Result;
    }
    catch { _categories = new List<Retaline.Core.BusinessModel.Catalog.CategoryData>(); }
    //var categoriesMenu = catalogService.GetCategoryHeaderMenuDetails().Result;
    CataogoryHeaderMenuViewModel categoriesMenu = new CataogoryHeaderMenuViewModel();
    if (_categories != null && _categories.Count > 0)
    {
        categoriesMenu.Categories = _categories.OrderByDescending(c => c.IsInCategory).OrderBy(c => c.Categorylevel).ToList();//.Take(9).OrderBy(c => c.CategoryName).ToList();
        int cats = categoriesMenu.Categories.Count;
        if (cats > 18)
            categoriesMenu.Categories = categoriesMenu.Categories.Skip(9).Take(10).ToList();
        else if(cats > 9)
            categoriesMenu.Categories = categoriesMenu.Categories.Skip(cats - 10).Take(10).ToList();

        categoriesMenu.MenuIterations = 1;//categoriesMenu.Categories.Count / 9;

    }


    var _user = customAuthService.GetUserFromClaims();
    string strThemeTitle = "Grozeo", strFooterAboutContent = ""; int storegroupid = 0;
    string footerLogo = ""; // (tenant == null && tenant.Value == null || String.IsNullOrEmpty(tenant.Value.StoreId) || tenant.Value.StoreId == "0" ? "/images/Footer_Logo.svg" : "");
    if (tenant != null && tenant.Value != null && !String.IsNullOrEmpty(tenant.Value.Name))
    {
        strThemeTitle = tenant.Value.Name;
        try { storegroupid = Convert.ToInt32(tenant.Value.StoreId); } catch { storegroupid = 0; }
        if (!String.IsNullOrEmpty(tenant.Value.LogoImage))
            footerLogo = tenant.Value.LogoImage;
    }

    strFooterAboutContent = _pageService.GetAboutUsMiniContent(500).Result;
    if(String.IsNullOrEmpty(strFooterAboutContent))
        strFooterAboutContent = "Welcome to "+strThemeTitle+"! We are a locally owned and operated business committed to providing our customers with top-quality products and exceptional customer service. We are continually upgrading our inventory in order to provide you with the best range of products at the most reasonable pricing. We also try to offer special promotions throughout the year to help you save even more through our online store. If you have any suggestions or feedback, please feel free to contact us.";

    if (storegroupid == 0 && String.IsNullOrEmpty(footerLogo))
        footerLogo = "/images/Footer_Logo.svg";
    int catLoaded = 0;
}

<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4 pe-lg-5">
					<div class="footer-content">
						@await Component.InvokeAsync("ContactAddress", true)

					</div>

				</div>
				<div class="col-12 col-md-8 col-lg-5">
					<div class="footer-aboutus">
						<div class="footer-link">
							<h6 class="footer-heading">More About us</h6>
							<ul>
								<li><a href="/about-us">About us</a></li>
								<li><a href="/how-it-works">How it works</a></li>
								<li><a href="/faq">FAQ & Support</a></li>
								<li><a href="/terms-conditions">Terms & Conditions</a></li>
								<li><a href="/privacy">Privacy Policy</a></li>
								<li><a href="/contact">Contact us</a></li>
								<li>
									<a href="/return-refund-policy">Return & Refund Policy</a>
								</li>
								@if (storegroupid < 1)
								{
									<li><a target="_blank" href="@(_configuration["PartnerSiteUrl"])">Become a seller</a></li>
								}
							</ul>
						</div>
						<div>
							<h6 class="footer-heading">Our category</h6>
							<ul>
								@for (int i = 0; i <= categoriesMenu.MenuIterations; i++)
								{
									var categories = categoriesMenu.Categories.Take(6).ToList();
									@for (int j = 0; j < categories.Count() && catLoaded < 6; j++)
									{
										catLoaded++;
										<li><a href="@Retaline.Web.Service.Common.GenerateCategoryLink(categories[j])">@categories[j].CategoryName</a></li>
									}


								}
								<li class="f_more">
									<a href="/categorieslist">more...</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-3">
					<div class="app-section">
						<h6 class="footer-heading">Find our app on mobile</h6>
						<div class="payment-img">
							<div class="gpay"><img src="~/customthemes/Creamily/images/gplay.png" class="img-fluid"></div>
							<div class="applepay"><img src="~/customthemes/Creamily/images/appstore.png" class="img-fluid"></div>
						</div>
						<div class="powered-img">
							<a href="">
								<svg xmlns="http://www.w3.org/2000/svg" width="130" height="31" viewBox="0 0 130 31" fill="none">
									<mask id="mask0_4420_53" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="35" y="12" width="70" height="17">
										<path d="M104.311 12.4551H35.0299V28.0239H104.311V12.4551Z" fill="white"></path>
									</mask>
									<g mask="url(#mask0_4420_53)">
										<path d="M42.5319 28.0239C44.7737 28.0239 46.5049 27.41 47.77 25.9627L48.0142 27.7608H49.812V19.7791H42.199V21.8183H47.3261V22.0376C47.3261 24.6251 45.617 25.9407 42.5985 25.9407C39.3358 25.9407 37.6045 24.3181 37.6045 20.4807V20.0202C37.6045 16.2705 39.4246 14.5383 42.8427 14.5383C45.2841 14.5383 47.2817 15.5689 47.2817 17.8494H49.812C49.812 14.2093 46.7934 12.4551 42.7983 12.4551C37.8265 12.4551 35.0299 15.0207 35.0299 20.2395C35.0299 25.568 37.7155 28.0239 42.5319 28.0239Z" fill="white"></path>
										<path d="M52.5182 27.7611H54.8265V21.5774C54.8265 19.5162 55.7587 18.2882 57.6897 18.2882H58.4665V16.1393C58.2668 16.0735 57.8451 15.9639 57.4011 15.9639C55.8696 15.9639 55.1594 16.9944 54.7599 18.0909H54.6268L54.4269 16.227H52.5182V27.7611Z" fill="white"></path>
										<path d="M64.5025 28.0242C68.2091 28.0242 70.1179 26.1384 70.1179 21.994C70.1179 17.8496 68.2091 15.9639 64.5025 15.9639C60.8403 15.9639 58.9093 17.8496 58.9093 21.994C58.9093 26.1384 60.8403 28.0242 64.5025 28.0242ZM64.5025 26.1384C62.3052 26.1384 61.3064 24.8885 61.3064 22.1913V21.7967C61.3064 19.1215 62.3052 17.8496 64.5025 17.8496C66.722 17.8496 67.7208 19.1215 67.7208 21.7967V22.1913C67.7208 24.8885 66.722 26.1384 64.5025 26.1384Z" fill="white"></path>
										<path d="M70.7274 27.7609H80.5821V25.8751H74.0345L80.2715 17.3451V16.2268H71.1491V18.1126H76.9421L70.7274 26.6207V27.7609Z" fill="white"></path>
										<path d="M86.717 28.0242C89.7801 28.0242 91.7776 26.4893 91.7776 23.7702H89.5131C89.5131 25.3051 88.4482 26.2042 86.7388 26.2042C84.6307 26.2042 83.6982 25.0639 83.632 22.5641H91.822V21.6871C91.822 17.8058 90.0682 15.9639 86.7613 15.9639C83.1213 15.9639 81.257 17.8496 81.257 21.994C81.257 26.1384 83.0988 28.0242 86.717 28.0242ZM83.6764 20.8976C83.8538 18.7706 84.8082 17.8058 86.717 17.8058C88.3369 17.8058 89.4026 18.6391 89.4026 20.8976H83.6764Z" fill="white"></path>
										<path d="M98.6958 28.0242C102.403 28.0242 104.311 26.1384 104.311 21.994C104.311 17.8496 102.403 15.9639 98.6958 15.9639C95.034 15.9639 93.1027 17.8496 93.1027 21.994C93.1027 26.1384 95.034 28.0242 98.6958 28.0242ZM98.6958 26.1384C96.499 26.1384 95.5003 24.8885 95.5003 22.1913V21.7967C95.5003 19.1215 96.499 17.8496 98.6958 17.8496C100.916 17.8496 101.915 19.1215 101.915 21.7967V22.1913C101.915 24.8885 100.916 26.1384 98.6958 26.1384Z" fill="white"></path>
									</g>
									<path d="M37.3901 8.56334V2.1552H40.5568C40.999 2.1552 41.3664 2.23927 41.6591 2.40741C41.9518 2.56933 42.1698 2.79664 42.313 3.08933C42.4625 3.38203 42.5372 3.72143 42.5372 4.10753C42.5372 4.49987 42.4562 4.84861 42.2943 5.15376C42.1324 5.45268 41.902 5.68622 41.6031 5.85436C41.3104 6.0225 40.9585 6.10658 40.5475 6.10658H38.2776V8.56334H37.3901ZM38.2776 5.34059H40.4915C40.8402 5.34059 41.1173 5.23161 41.3228 5.01364C41.5346 4.79568 41.6404 4.49676 41.6404 4.11688C41.6404 3.86155 41.5968 3.6467 41.5097 3.47232C41.4225 3.29795 41.2948 3.16406 41.1267 3.07065C40.9585 2.97101 40.7468 2.92119 40.4915 2.92119H38.2776V5.34059ZM45.3702 8.67544C44.872 8.67544 44.4516 8.58514 44.1091 8.40454C43.7728 8.21771 43.5144 7.93436 43.3338 7.55448C43.1594 7.1746 43.0722 6.69197 43.0722 6.10658C43.0722 5.51496 43.1594 5.03233 43.3338 4.65867C43.5144 4.27879 43.7728 3.99855 44.1091 3.81795C44.4516 3.63113 44.872 3.53771 45.3702 3.53771C45.8684 3.53771 46.2856 3.63113 46.6219 3.81795C46.9644 3.99855 47.2229 4.27879 47.3973 4.65867C47.5716 5.03233 47.6588 5.51496 47.6588 6.10658C47.6588 6.69197 47.5716 7.1746 47.3973 7.55448C47.2229 7.93436 46.9644 8.21771 46.6219 8.40454C46.2856 8.58514 45.8684 8.67544 45.3702 8.67544ZM45.3702 7.98418C45.6878 7.98418 45.9525 7.92191 46.1642 7.79735C46.3759 7.6728 46.5347 7.47975 46.6406 7.21819C46.7527 6.95041 46.8088 6.61412 46.8088 6.20933V6.00382C46.8088 5.5928 46.7527 5.25652 46.6406 4.99496C46.5347 4.7334 46.3759 4.54035 46.1642 4.4158C45.9525 4.29125 45.6878 4.22897 45.3702 4.22897C45.0526 4.22897 44.7848 4.29125 44.5668 4.4158C44.3551 4.54035 44.1963 4.7334 44.0904 4.99496C43.9846 5.25652 43.9316 5.5928 43.9316 6.00382V6.20933C43.9316 6.61412 43.9846 6.95041 44.0904 7.21819C44.1963 7.47975 44.3551 7.6728 44.5668 7.79735C44.7848 7.92191 45.0526 7.98418 45.3702 7.98418ZM49.5778 8.56334L48.0925 3.64981H48.9425L49.6898 6.34945C49.7272 6.48023 49.7615 6.62346 49.7926 6.77915C49.83 6.92861 49.8642 7.06873 49.8954 7.19951C49.9327 7.32406 49.9576 7.42059 49.9701 7.48909H50.0261C50.051 7.37077 50.0791 7.23688 50.1102 7.08741C50.1476 6.93795 50.1787 6.79472 50.2036 6.65771C50.2348 6.52071 50.2597 6.41484 50.2784 6.34011L50.9509 3.64981H51.8384L52.5203 6.34011C52.5452 6.44598 52.5732 6.57053 52.6043 6.71376C52.6355 6.85077 52.6666 6.98777 52.6978 7.12478C52.7351 7.26179 52.76 7.38322 52.7725 7.48909H52.8285C52.8534 7.38945 52.8815 7.27424 52.9126 7.14346C52.9437 7.00646 52.978 6.86945 53.0154 6.73244C53.0527 6.58921 53.087 6.46466 53.1181 6.35879L53.8561 3.64981H54.6407L53.1648 8.56334H52.3241L51.6889 6.0225C51.664 5.90418 51.6328 5.76718 51.5955 5.61149C51.5581 5.44957 51.5207 5.28765 51.4834 5.12574C51.4522 4.95759 51.4242 4.81125 51.3993 4.6867H51.3433C51.3308 4.78011 51.309 4.89843 51.2779 5.04167C51.253 5.1849 51.2218 5.3437 51.1845 5.51807C51.1471 5.68622 51.1035 5.85436 51.0537 6.0225L50.4185 8.56334H49.5778ZM57.3009 8.67544C56.8152 8.67544 56.4042 8.58514 56.0679 8.40454C55.7378 8.21771 55.4856 7.93436 55.3112 7.55448C55.1431 7.1746 55.059 6.69197 55.059 6.10658C55.059 5.51496 55.1431 5.03233 55.3112 4.65867C55.4856 4.27879 55.7409 3.99855 56.0772 3.81795C56.4135 3.63113 56.8339 3.53771 57.3383 3.53771C57.7991 3.53771 58.1852 3.62801 58.4966 3.80861C58.808 3.98298 59.0415 4.24765 59.1972 4.60262C59.3591 4.95137 59.4401 5.39041 59.4401 5.91975V6.31209H55.9091C55.9215 6.70442 55.9776 7.02825 56.0772 7.28358C56.1831 7.53268 56.3388 7.7164 56.5443 7.83472C56.7498 7.94682 57.0082 8.00286 57.3196 8.00286C57.5313 8.00286 57.715 7.97795 57.8707 7.92813C58.0327 7.87209 58.1665 7.79424 58.2724 7.6946C58.3845 7.59496 58.4686 7.47664 58.5246 7.33963C58.5807 7.20262 58.6118 7.05316 58.618 6.89125H59.4214C59.4152 7.1528 59.3654 7.39568 59.2719 7.61987C59.1785 7.83783 59.0415 8.02466 58.8609 8.18035C58.6803 8.33604 58.4592 8.45747 58.1977 8.54466C57.9361 8.63185 57.6372 8.67544 57.3009 8.67544ZM55.9277 5.69556H58.59C58.59 5.42155 58.5589 5.19113 58.4966 5.0043C58.4343 4.81747 58.344 4.6649 58.2257 4.54658C58.1136 4.42825 57.9797 4.34418 57.824 4.29436C57.6746 4.23831 57.5033 4.21029 57.3103 4.21029C57.0238 4.21029 56.7809 4.26322 56.5816 4.36909C56.3824 4.47496 56.2298 4.63688 56.1239 4.85484C56.018 5.0728 55.9527 5.35304 55.9277 5.69556ZM60.4569 8.56334V3.64981H61.1201L61.1948 4.4625H61.2602C61.3101 4.30682 61.3786 4.16047 61.4657 4.02346C61.5529 3.88023 61.6713 3.76502 61.8207 3.67783C61.9702 3.58442 62.1539 3.53771 62.3719 3.53771C62.4653 3.53771 62.5493 3.54706 62.6241 3.56574C62.705 3.57819 62.7642 3.59376 62.8016 3.61244V4.36909H62.4933C62.2816 4.36909 62.0978 4.40646 61.9422 4.48119C61.7927 4.54969 61.6681 4.64933 61.5685 4.78011C61.4689 4.91089 61.3941 5.06658 61.3443 5.24717C61.3007 5.42777 61.2789 5.62083 61.2789 5.82634V8.56334H60.4569ZM65.429 8.67544C64.9432 8.67544 64.5322 8.58514 64.1959 8.40454C63.8658 8.21771 63.6136 7.93436 63.4393 7.55448C63.2711 7.1746 63.187 6.69197 63.187 6.10658C63.187 5.51496 63.2711 5.03233 63.4393 4.65867C63.6136 4.27879 63.869 3.99855 64.2052 3.81795C64.5415 3.63113 64.9619 3.53771 65.4663 3.53771C65.9272 3.53771 66.3133 3.62801 66.6246 3.80861C66.936 3.98298 67.1696 4.24765 67.3252 4.60262C67.4872 4.95137 67.5681 5.39041 67.5681 5.91975V6.31209H64.0371C64.0496 6.70442 64.1056 7.02825 64.2052 7.28358C64.3111 7.53268 64.4668 7.7164 64.6723 7.83472C64.8778 7.94682 65.1363 8.00286 65.4476 8.00286C65.6594 8.00286 65.8431 7.97795 65.9988 7.92813C66.1607 7.87209 66.2946 7.79424 66.4005 7.6946C66.5126 7.59496 66.5966 7.47664 66.6527 7.33963C66.7087 7.20262 66.7399 7.05316 66.7461 6.89125H67.5494C67.5432 7.1528 67.4934 7.39568 67.4 7.61987C67.3066 7.83783 67.1696 8.02466 66.989 8.18035C66.8084 8.33604 66.5873 8.45747 66.3257 8.54466C66.0642 8.63185 65.7652 8.67544 65.429 8.67544ZM64.0558 5.69556H66.7181C66.7181 5.42155 66.6869 5.19113 66.6246 5.0043C66.5624 4.81747 66.4721 4.6649 66.3537 4.54658C66.2416 4.42825 66.1078 4.34418 65.9521 4.29436C65.8026 4.23831 65.6314 4.21029 65.4383 4.21029C65.1518 4.21029 64.909 4.26322 64.7097 4.36909C64.5104 4.47496 64.3578 4.63688 64.2519 4.85484C64.1461 5.0728 64.0807 5.35304 64.0558 5.69556ZM70.257 8.67544C69.8522 8.67544 69.5035 8.58514 69.2108 8.40454C68.9243 8.22394 68.7001 7.9437 68.5382 7.56382C68.3825 7.17771 68.3047 6.67951 68.3047 6.06921C68.3047 5.49005 68.3856 5.01364 68.5476 4.63999C68.7095 4.26634 68.9337 3.98921 69.2201 3.80861C69.5066 3.62801 69.8398 3.53771 70.2197 3.53771C70.4376 3.53771 70.64 3.56262 70.8268 3.61244C71.0137 3.66226 71.1787 3.74011 71.3219 3.84598C71.4714 3.95185 71.6022 4.09197 71.7143 4.26634H71.7703V1.80957H72.5923V8.56334H71.9291L71.8544 7.86274H71.789C71.6208 8.13676 71.4029 8.34227 71.1351 8.47927C70.8673 8.61005 70.5746 8.67544 70.257 8.67544ZM70.4532 7.95616C70.7646 7.95616 71.0168 7.88765 71.2098 7.75065C71.4029 7.61364 71.543 7.41436 71.6302 7.1528C71.7236 6.89125 71.7703 6.56741 71.7703 6.18131V6.03185C71.7703 5.69556 71.7361 5.41221 71.6676 5.18179C71.5991 4.95137 71.5056 4.76765 71.3873 4.63065C71.269 4.49364 71.132 4.39712 70.9763 4.34107C70.8206 4.28502 70.6556 4.257 70.4812 4.257C70.1761 4.257 69.927 4.31927 69.7339 4.44382C69.5408 4.56215 69.3976 4.75209 69.3042 5.01364C69.2108 5.26897 69.1641 5.60215 69.1641 6.01316V6.20933C69.1641 6.6328 69.2139 6.97532 69.3135 7.23688C69.4132 7.4922 69.5564 7.67592 69.7432 7.78801C69.9363 7.90011 70.1729 7.95616 70.4532 7.95616ZM78.1728 8.67544C77.8426 8.67544 77.5467 8.61005 77.2852 8.47927C77.0236 8.34227 76.8088 8.13676 76.6406 7.86274H76.5752L76.4912 8.56334H75.8373V1.80957H76.6593V4.26634H76.7154C76.8275 4.09197 76.9582 3.95185 77.1077 3.84598C77.2572 3.74011 77.4253 3.66226 77.6121 3.61244C77.799 3.56262 77.9984 3.53771 78.2101 3.53771C78.59 3.53771 78.9232 3.62801 79.2097 3.80861C79.4961 3.98921 79.7172 4.26634 79.8729 4.63999C80.0348 5.01364 80.1158 5.49005 80.1158 6.06921C80.1158 6.67951 80.0379 7.17771 79.8822 7.56382C79.7265 7.9437 79.5055 8.22394 79.219 8.40454C78.9325 8.58514 78.5838 8.67544 78.1728 8.67544ZM77.9766 7.95616C78.2568 7.95616 78.4904 7.90011 78.6772 7.78801C78.8703 7.67592 79.0166 7.4922 79.1162 7.23688C79.2159 6.97532 79.2657 6.6328 79.2657 6.20933V6.01316C79.2657 5.60215 79.219 5.26897 79.1256 5.01364C79.0322 4.75209 78.8889 4.56215 78.6959 4.44382C78.5028 4.31927 78.2537 4.257 77.9486 4.257C77.7741 4.257 77.609 4.28502 77.4533 4.34107C77.2976 4.39712 77.1575 4.49364 77.033 4.63065C76.9146 4.76765 76.8212 4.95137 76.7527 5.18179C76.6905 5.41221 76.6593 5.69556 76.6593 6.03185V6.18131C76.6593 6.56741 76.7029 6.89125 76.7901 7.1528C76.8835 7.41436 77.0267 7.61364 77.2198 7.75065C77.4191 7.88765 77.6713 7.95616 77.9766 7.95616ZM81.5395 10.2635C81.3901 10.2635 81.2593 10.251 81.1472 10.2261C81.0413 10.2074 80.9697 10.195 80.9324 10.1887V9.59089H81.3434C81.4928 9.59089 81.6392 9.55975 81.7824 9.49747C81.9256 9.4352 82.0595 9.32933 82.1841 9.17987C82.3086 9.03041 82.4145 8.8249 82.5017 8.56334L80.5961 3.64981H81.4555L82.4363 6.18131C82.4799 6.29963 82.5297 6.44598 82.5858 6.62035C82.648 6.78849 82.7072 6.96286 82.7632 7.14346C82.8255 7.32406 82.8753 7.48286 82.9127 7.61987H82.9688C82.9937 7.52023 83.0248 7.40813 83.0622 7.28358C83.0995 7.15903 83.1369 7.03137 83.1743 6.90059C83.2179 6.76358 83.2583 6.63592 83.2957 6.51759C83.3393 6.39304 83.3736 6.28406 83.3985 6.19065L84.2298 3.64981H85.0612L83.3985 8.42322C83.305 8.69101 83.2023 8.937 83.0902 9.16119C82.9781 9.39161 82.8535 9.58777 82.7165 9.74969C82.5795 9.91161 82.4145 10.0362 82.2215 10.1233C82.0284 10.2168 81.8011 10.2635 81.5395 10.2635Z" fill="white"></path>
									<path d="M105.249 28.0244V26.6294H106.633V28.0244H105.249ZM110.674 28.1551C110.078 28.1551 109.581 28.0498 109.18 27.8391C108.788 27.6211 108.494 27.2905 108.298 26.8474C108.102 26.4042 108.003 25.8411 108.003 25.1581C108.003 24.4679 108.102 23.9048 108.298 23.4689C108.502 23.0257 108.799 22.6988 109.191 22.4881C109.591 22.2701 110.085 22.1611 110.674 22.1611C111.059 22.1611 111.401 22.2084 111.698 22.3028C111.996 22.3972 112.251 22.5426 112.461 22.7387C112.679 22.9277 112.842 23.1638 112.951 23.4471C113.06 23.7305 113.115 24.0611 113.115 24.4389H111.763C111.763 24.1701 111.724 23.9484 111.643 23.7741C111.564 23.5997 111.44 23.4689 111.273 23.3817C111.113 23.2873 110.906 23.2401 110.652 23.2401C110.354 23.2401 110.111 23.3091 109.922 23.4471C109.733 23.5851 109.591 23.7922 109.497 24.0683C109.409 24.3371 109.366 24.6786 109.366 25.0928V25.2344C109.366 25.6413 109.409 25.9827 109.497 26.2589C109.591 26.535 109.736 26.742 109.932 26.8801C110.129 27.0108 110.387 27.0762 110.706 27.0762C110.954 27.0762 111.157 27.0326 111.316 26.9454C111.484 26.851 111.611 26.7129 111.698 26.5313C111.785 26.3497 111.829 26.1317 111.829 25.8774H113.115C113.115 26.2334 113.06 26.5531 112.951 26.8365C112.842 27.1198 112.683 27.3596 112.472 27.5557C112.262 27.7519 112.003 27.9008 111.698 28.0026C111.401 28.1043 111.059 28.1551 110.674 28.1551ZM116.798 28.1551C116.172 28.1551 115.649 28.0498 115.228 27.8391C114.806 27.6211 114.49 27.2905 114.28 26.8474C114.069 26.4042 113.964 25.8411 113.964 25.1581C113.964 24.4679 114.069 23.9048 114.28 23.4689C114.49 23.0257 114.806 22.6988 115.228 22.4881C115.649 22.2701 116.172 22.1611 116.798 22.1611C117.43 22.1611 117.953 22.2701 118.367 22.4881C118.788 22.6988 119.104 23.0257 119.315 23.4689C119.525 23.9048 119.631 24.4679 119.631 25.1581C119.631 25.8411 119.525 26.4042 119.315 26.8474C119.104 27.2905 118.788 27.6211 118.367 27.8391C117.953 28.0498 117.43 28.1551 116.798 28.1551ZM116.798 27.0653C117.146 27.0653 117.426 26.9999 117.637 26.8692C117.855 26.7311 118.01 26.5277 118.105 26.2589C118.207 25.9827 118.258 25.6413 118.258 25.2344V25.0819C118.258 24.675 118.207 24.3371 118.105 24.0683C118.01 23.7922 117.855 23.5888 117.637 23.458C117.426 23.32 117.146 23.251 116.798 23.251C116.449 23.251 116.165 23.32 115.947 23.458C115.737 23.5888 115.58 23.7922 115.479 24.0683C115.384 24.3371 115.337 24.675 115.337 25.0819V25.2344C115.337 25.6413 115.384 25.9827 115.479 26.2589C115.58 26.5277 115.737 26.7311 115.947 26.8692C116.165 26.9999 116.449 27.0653 116.798 27.0653ZM120.761 28.0244V22.2919H121.872L121.981 23.0548H122.057C122.18 22.8804 122.322 22.7278 122.482 22.5971C122.642 22.459 122.823 22.3536 123.027 22.281C123.238 22.2011 123.466 22.1611 123.714 22.1611C124.048 22.1611 124.346 22.2302 124.608 22.3682C124.869 22.5062 125.072 22.7351 125.218 23.0548H125.294C125.417 22.8804 125.563 22.7278 125.73 22.5971C125.897 22.459 126.09 22.3536 126.308 22.281C126.526 22.2011 126.762 22.1611 127.016 22.1611C127.357 22.1611 127.659 22.2229 127.921 22.3464C128.182 22.4699 128.389 22.6733 128.542 22.9567C128.694 23.2401 128.771 23.6178 128.771 24.0901V28.0244H127.441V24.3626C127.441 24.1664 127.419 24.0029 127.376 23.8722C127.332 23.7341 127.27 23.6287 127.191 23.5561C127.117 23.4762 127.023 23.4181 126.907 23.3817C126.798 23.3454 126.678 23.3272 126.548 23.3272C126.337 23.3272 126.147 23.3854 125.981 23.5016C125.813 23.6178 125.679 23.7777 125.578 23.9811C125.483 24.1845 125.436 24.4207 125.436 24.6895V28.0244H124.106V24.3626C124.106 24.1664 124.085 24.0029 124.041 23.8722C123.997 23.7341 123.935 23.6287 123.856 23.5561C123.782 23.4762 123.688 23.4181 123.572 23.3817C123.463 23.3454 123.343 23.3272 123.213 23.3272C123.002 23.3272 122.809 23.3854 122.635 23.5016C122.468 23.6178 122.333 23.7777 122.232 23.9811C122.137 24.1845 122.09 24.4207 122.09 24.6895V28.0244H120.761Z" fill="white"></path>
									<path d="M26.7308 10.5054H17.4147C17.4147 12.077 18.7381 13.3651 20.3525 13.3651C20.3525 13.3651 20.3525 13.3651 20.3789 13.3651H22.0992C20.4848 16.8688 16.2502 18.4403 12.6508 16.8688C10.0836 15.761 8.44268 13.2878 8.41621 10.5827C8.41621 10.5569 8.41621 10.5312 8.41621 10.5054C8.46915 6.66676 11.6981 3.601 15.6415 3.65252C17.547 3.67829 19.3467 4.42541 20.6701 5.7393C20.9083 5.97117 21.12 6.2288 21.3318 6.51219C21.861 7.23355 22.708 7.64575 23.6078 7.64575H25.1693C23.502 2.4932 17.8382 -0.392227 12.5449 1.23082C8.38975 2.51896 5.53143 6.25456 5.50496 10.5054H4.39338C1.95849 10.5054 0 12.4376 0 14.8078C0 15.3488 0.105864 15.8899 0.317593 16.4051L4.02285 25.3448C4.68451 26.9678 6.29894 28.0241 8.09861 28.0241H23.0256C24.8253 28.0241 26.4397 26.9678 27.1013 25.3448L30.8066 16.4051C31.7329 14.2153 30.6478 11.7162 28.3981 10.8146C27.8689 10.6084 27.2866 10.5054 26.7308 10.5054Z" fill="white"></path>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@await Component.InvokeAsync("Copyright", false)
</footer>
<script>
	$(document).ready(() => {
		$('.footer_hide-btn').click(function () {
			$('footer').toggleClass('open_footer');
		});

	});
</script>