:root {
    
    --bs-primary: #20438c;
    --bs-border-primary: 1px solid #20438c;
    --bs-bg: #f5f5f5;
    --bs-border-color: #E2E2E2;
    --bs-font-sans-serif: "Lato", sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-text-primary: #212529;
    --bs-danger:#B92224;
    --bs-body-color: #060000;
    --bs-text-secondary: #646464;
}