@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string loadMoreUrl = $"/loadmoreoffers/-1/-1/1";
}

<section class="Main_Content_Sec">
    <div class="container">
        <div class="row pb-0">
            <div class="col-12">
                <div class="itemsListingWrap dealoftheday_list">
                    <div class="itemsListing mb-0">
                        <div class="btnautoloadmore product-card" navlink="@loadMoreUrl" contenttype="2" pagenum="1" subcatId="-1" brandid="-1" catlevel="-1" searchkey="">Load more..</div>
                    </div>
                </div>

            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</section><!--Main_Content_Sec-->
