@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="content" style="padding: 0px; margin: 0px; padding-top: 0px; text-align: center;">
    <img src="/images/Error_Preview.png" />
    <br>
    <br />Sorry for the inconvenience. Please click <a href="/">here</a> to reload.
</div>