<%@ Master Language="C#" MasterPageFile="~/AgentMaster.Master" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="RetalineProAgent.Manage.AdminMaster" %>

<%@ Register Src="~/Manage/Controls/HeaderNavigation.ascx" TagPrefix="uc1" TagName="HeaderNavigation" %>
<%@ Register Src="~/Controls/ctrlMenuNavigation.ascx" TagPrefix="uc1" TagName="ctrlMenuNavigation" %>


<asp:Content ID="Content7" ContentPlaceHolderID="cpHeaderNavigationAdmin" runat="server">
<%--<uc1:HeaderNavigation runat="server" id="HeaderNavigation" />--%>
    <uc1:ctrlMenuNavigation runat="server" ID="ctrlMenuNavigation" StartingNode="~/manage" />

</asp:Content>
<asp:Content ContentPlaceHolderID="cpBreadcrumb" runat="server">
    <asp:ContentPlaceHolder ID="cpNBreadcrumb" runat="server"><li class="breadcrumb-item"><a href="/">Home</a></li></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="cpTitle" runat="server">
    <asp:ContentPlaceHolder ID="cpNTitle" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="cpMainContent" runat="server">
    <asp:ContentPlaceHolder ID="cpNMainContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
