@using Retaline.Core.ViewModel.Home;
@using Retaline.Core.BusinessModel.Catalog;
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using Retaline.Core.ViewModel.Catalog;
@using Retaline.Core.BusinessModel.UserDetails;

@model HeaderAndFooterViewModel;
@inject Retaline.Core.Services.Authentication.ICustomAuthenticationService customAuthService;
@inject Retaline.Core.Services.Catalog.ICatalogService catalogService;
@inject IHttpContextAccessor _httpContextAccessor
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;
@inject Retaline.Core.Services.HelperServices.IHttpHelperService HttpHelper

@{
    Retaline.Core.BusinessModel.UserDetails.User curUser = new Retaline.Core.BusinessModel.UserDetails.User();
    try
    {
        curUser = customAuthService.GetUserFromClaims();

        if (curUser == null)
        {
            curUser = new Retaline.Core.BusinessModel.UserDetails.User();
        }
    }
    catch
    {
        curUser = new Retaline.Core.BusinessModel.UserDetails.User();
    }
    bool loggedIn = (curUser != null && !string.IsNullOrEmpty(curUser.Name) ? true : false);
}
<header class="header main-header sticky-top">
    <div class="header-content-wrap">
        <div class="container">
            <div class="row ">
                <div class="col-12">

                    <div class="header-wrap">
                        <!--Can change the order of the components by changing the below order-->
                        @await Component.InvokeAsync("BusinessCategories")
                        <!--Logo 1st-->
                        @await Component.InvokeAsync("Logo")

                        <!--HeaderAddress 2nd-->
                        @* @await Component.InvokeAsync("HeaderAddress", curUser) *@
                        <!--Mobile view Menu starts-->

                        <div class="header_mobilemenu-wrap">
                            <span class="header_mobilemenu minicart_menu" onclick="OpenMobileMenu()">
                                <span class="navicon"></span>
                              
                                    <div class="cart-count">
                                        <span class="cartnubr cartcount">0</span>
                                    </div>

                            </span>
                            <aside class="mobilemenu_slider">
                                <div class="overlay" onclick="closeMobileMenu()"></div>
                                <div class="mobilemenu_wrap">
                                    <div>
                                        <div class="profile_drdn_info minicart_menu">
                                            <div class="profile_drdn_info_container">
                                                <p>Welcome</p>
                                                <h6>@(loggedIn ? curUser.Name : "Guest")</h6>
                                            </div>
                                            @* @if (loggedIn)
                                            { *@
                                                <a href="/cart" class="header-action-icons mycart_dropdown trigerCartMenu">
                                                    <i class="fa-light fa-cart-shopping"></i> Cart
                                                    <div class="cart-count">
                                                        <span class="cartnubr cartcount">0</span>
                                                    </div>
                                                </a>
                                            @* } *@
                                           

                                        </div>
                                        <ul class="dropdown-menu_list">
                                            @if (loggedIn)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="/account">
                                                        <i class="fa-light fa-bag-shopping me-2" aria-hidden="true"></i>
                                                        My Orders
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/mywallet">
                                                        <i class="fa-light fa-wallet me-2" aria-hidden="true"></i>
                                                        My Wallet
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/address">
                                                        <i class="fa-light fa-location-dot me-2" aria-hidden="true"></i>
                                                        Manage Address
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/wishlist">
                                                        <i class="fa-light fa-heart me-2" aria-hidden="true"></i>
                                                        My Wishlist
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/contact">
                                                        <i class="fa-light fa-headphones me-2" aria-hidden="true"></i>
                                                        Support
                                                    </a>
                                                </li>
                                               
                                                <li>
                                                    <hr />
                                                </li>

                                            }

                                            <li>
                                                <a class="dropdown-item" href="/about-us">
                                                    <i class="fa-light fa-bullhorn me-2" aria-hidden="true"></i>
                                                    About us
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/how-it-works">
                                                    <i class="fa-light fa-scroll me-2" aria-hidden="true"></i>
                                                    How it works
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/faq">
                                                    <i class="fa-light fa-comments-question-check me-2" aria-hidden="true"></i>
                                                    FAQ & Support
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/terms-conditions">
                                                    <i class="fa-light fa-memo me-2" aria-hidden="true"></i>
                                                    Terms & Conditions
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/return-refund-policy">
                                                    <i class="fa-light fa-file-lines me-2" aria-hidden="true"></i>
                                                    Return & Refund Policy
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/install">
                                                    <i class="fa-light fa-mobile me-2" aria-hidden="true"></i>
                                                    Install App
                                                </a>
                                            </li>
                                            <li>
                                                <hr />
                                            </li>
                                            @if (loggedIn)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="/logout">
                                                        <i class="fa-light fa-arrow-right-from-bracket me-2" aria-hidden="true"></i>
                                                        Log out
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="dropdown-item open-login-modal" href="javascript:void(0)">
                                                        <i class="fa-light fa-arrow-right-from-bracket me-2" aria-hidden="true"></i>
                                                        Sign In
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <!--Mobile view Menu ends-->

                        <div class="serchsec_header-action">

                        <!--SearchBar 3rd-->
                        @await Component.InvokeAsync("SearchBar")

                        <!--MoreMenu 4th-->
                        @await Component.InvokeAsync("MoreMenu", curUser.Name)
                        </div><!--serchsec_header-action-->
                    </div><!--header-wrap-->

                </div><!--col-12-->
            </div><!--row-->
        </div><!--container-->
    </div>

 

    @await Component.InvokeAsync("VerificationStrip")

</header><!--header-->

<script>
    //==== mobile menu ===//
    function OpenMobileMenu() {
        $(".mobilemenu_slider").addClass('open-mobilemenu');
    }

    function closeMobileMenu() {
        $(".mobilemenu_slider").removeClass('open-mobilemenu');
    }
</script>