@using Retaline.Core.BusinessModel.Home
@inject SaasKit.Multitenancy.ITenant<Retaline.Core.ViewModel.Tenant.AppTenant> tenant;
@model List<HomeValue>
@{
    int homeBannersAdded = 0;
}
@for (int i = 0; i < Model.Count; i++)
{
    @if (Model[i].AdZoneName == "Home Top Banner" && Model[i].AdZoneDetails.Count > 0)
    {
        <div class="section-grz_banner_figure">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="mainbanner">
                            <div class="swiper mainbanner_one">
                                <div class="swiper-wrapper">
                                    @for (int j = 0; j < Model[i].AdZoneDetails.Count; j++)
                                    {

                                        @if (tenant.Value.OwnBannerOnly && Model[i].AdZoneDetails.Any(a => a.StoreGroupId > 0) && Model[i].AdZoneDetails[j].StoreGroupId <= 0)
                                            continue;
                                        <a href="@Retaline.Web.Service.Common.OfferUrl(Model[i].AdZoneDetails[j])" class="swiper-slide">
                                            <img src="@(Model[i].AdZoneDetails[j].AdvImageUrl)" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid">
                                        </a>
                                        homeBannersAdded++;


                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="paginationwrap">
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        <!--swiper-slide-->
    }

}
@if (homeBannersAdded <= 0)
{
    <div class="section-grz_banner_figure">
        <div class="container">
            <div class="row row_mb">
                <div class="col-12">
                    <div class="mainbanner">
                        <a href="">
                            <img src="~/customthemes/Bonitos/images/banner_1.jpg" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid">
                        </a>
                        <a href="">
                            <img src="~/customthemes/Bonitos/images/banner_1.jpg" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid">
                        </a> <a href="">
                            <img src="~/customthemes/Bonitos/images/banner_1.jpg" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*  <div class="col-12 col-md-6 mb-3 mb-md-0">
    <div class="addsbanner">
    <a href="">
    <img src="~/images/adds_banner_2.png" alt="" onerror="this.src='/images/p-no-image.png'" class=" img-fluid">
    </a>
    </div>
    </div> *@
    </div>
}
<script>
    const mainbanner_one = new Swiper(".mainbanner_one", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 3000,
        },
    });
    @*   const mainbanner_two = new Swiper(".mainbanner_two", {
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        autoplay: {
        delay: 3000,
        },
        }); *@
</script>