<tr>
    <td colspan="3" style="padding:5px; font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px; color: #000;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">Delivery Fees</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">1</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[UNITAMOUNT_order_delivery_charge]</td>
            </tr>
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">Not Applicable</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[MRP_order_delivery_charge]</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;"><strong>[TOTALAMOUNT_order_delivery_charge]</strong></td>
            </tr>
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;"> [TAX]%</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">0.00</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[TAXABLEAMOUNT_order_delivery_charge_et]</td>
            </tr>
        </table>
    </td>
</tr>

<!-- item line separation -->
<tr>
    <td height="5" colspan="3" valign="center" style="font-size: 1px; line-height: 1px;">
        <hr style="margin:0px!important;">
    </td>
</tr>