<!--items list-->
<tr>
    <td colspan="3" style="padding:5px; font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px; color: #000;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[ITEMNAMEDETAILSOFITEM_stit_SKU]</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[QUANTITY_item_order_qty_scanned]</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[UNITAMOUNT_item_sales_price]</td>
            </tr>
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[SERVICECODE_itemcode]</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[MRP_order_item_mrp]</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;"><strong>[TOTALAMOUNT_item_price]</strong></td>
            </tr>
            <tr>
                <td valign="bottom" width="33.33%" align="left" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[HSNSAC_stit_HSN_code] [TAX_hsnGst]%  [CC_hsnCess]</td>
                <td valign="bottom" width="33.33%" align="center" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[DISCOUNT_order_item_seller_discount]</td>
                <td valign="bottom" width="33.33%" align="right" style="font-family: arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 16px; color: #000;">[TAXABLEAMOUNT_order_item_basket_price_et]</td>
            </tr>
        </table>
    </td>
</tr>
<!--items list-->

<!-- item line separation -->
<tr>
    <td height="5" colspan="3" valign="center" style="font-size: 1px; line-height: 1px;">
        <hr style="margin:0px!important;">
    </td>
</tr>