<tr>
    <td align="center" style="padding: 6px; font-size:13px; font-family: Arial, Helvetica, sans-serif; border-top:1px solid #000;">[NO]</td>
    <td align="left" style="padding: 6px; font-size:13px; font-family: Arial, Helvetica, sans-serif; border-top:1px solid #000; border-right:1px solid #000; border-left:1px solid #000;">
        <p style="font-size:13px; font-family: Arial, Helvetica, sans-serif; margin: 0; margin-bottom:4px;">[ItemName]</p>
        <p style="font-size:13px; font-family: Arial, Helvetica, sans-serif; margin: 0;">[Barcode] - [MRP] / [SellingPrice]</p>
    </td>
    <td align="center" style="padding: 6px; font-size:13px; font-family: Arial, Helvetica, sans-serif; border-top:1px solid #000;">[Quatity]</td>
</tr>