<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Support Ticket Created</title>
    <style>
        @media only screen and (max-width: 620px) {

            table.body .container {
                width: 100% !important;
            }

            table.body .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important;
            }

            table.body .btn table {
                width: 100% !important;
            }

            table.body .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important;
            }
        }

        @media only screen and (max-width: 480px) {

            table.getapp {
                clear: both !important;
            }

            table.followus {
                clear: both !important;
                float: left !important;
            }
        }

        @media all {

            a {
                text-decoration: underline;
            }

            #MessageViewBody a {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
            }

            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }
        }
    </style>
</head>
<body style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: collapse;  background-color: #f6f6f6; width: 100%;" width="100%" bgcolor="#f6f6f6">


        <tr>
            <td class="topbodyspacing" height="30" style="line-height:0; font-size: 1px;"></td>
        </tr>

        <tr>
            <!-- <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td> -->
            <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 600px; width: 600px; margin: 0 auto;" width="600" valign="top">

                <table role="presentation" class="banner" style="border-collapse: collapse;  background: #ffffff;  width: 100%;" width="100%">
                    <!-- <tr>
                      <td class="banr_topspacing" height="25" style="line-height:0; font-size: 1px;"></td>
                    </tr> -->
                    <tr>
                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top" align="center">
                            <img class="img-responsive" style="max-width: 600px;" src="[URLPART]/Content/template/images/GST_verification.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="logosec" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;  width: 100%;" width="100%">
                                <tr>
                                    <td align="center" class="logo_icon" style="font-family: sans-serif; font-size: 10px; font-weight: normal; color: #7ebe38;">
                                        <a href="www.grozeo.com" target="_blank">
                                            <img style="max-width: 38px;" src="[URLPART]/Content/template/images/logo_grozeo_icon.png" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="logo_text" style="font-family: sans-serif; font-size: 30px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #7ebe38;line-height: 30px; text-transform: uppercase;">
                                        <a style="font-family: sans-serif; font-size: 30px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #7ebe38;line-height: 30px; text-transform: uppercase; text-decoration: none;" href="www.grozeo.com" target="_blank">Grozeo</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr><!--new logo sec tr-->
                </table>
                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main" style="border-collapse: collapse;  background: #ffffff;  width: 100%;" width="100%">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;  width: 100%;" width="100%">
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Dear [CUSTOMERSNAME],</p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">We want to inform you that a support ticket has been created on your behalf. Our dedicated support team is already aware of your issue and will be working diligently to assist you.</p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
                                            Ticket ID:<strong style="margin-left: 5px;">[TICKETID]</strong><br>
                                            Issue Description:<strong style="margin-left: 5px;">[BRIEFDESRIPTIONOFTHEISSUE]</strong><br>
                                            Date Created:<strong style="margin-left: 5px;">[DATEANDTIME]</strong><br>                                          
                                        </p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">If you have any additional information or need further assistance, please do not hesitate to let us know.</p>                                     
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 0px;">Best  regards</p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 0px;">Team  Grozeo</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>

                <table role="presentation" class="footer" style="border-collapse: collapse;  background: #ffffff;  width: 100%; border-top: 1px solid #e0e0e0;" width="100%">

                    <tr>
                        <td class="wrapper" style="font-family: sans-serif; font-size: 12px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">

                            <table border="0" role="presentation" style="border-collapse: collapse;  background: #ffffff;  width: 100%;" width="100%">
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 12px; vertical-align: top; box-sizing: border-box; color: #909090;">
                                        <table class="getapp" style="float: left; border-collapse: collapse;">
                                            <tr>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">Get the App:</td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="#">
                                                        <img class="img-icon" style="max-width: 18px;" src="[URLPART]/Content/template/images/Androide.png">
                                                    </a>
                                                </td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="#">
                                                        <img class="img-icon" style="max-width:18px;" src="[URLPART]/Content/template/images/Apple.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>

                                        <table border="0" class="followus" style="float: right; border-collapse: collapse;">
                                            <tr>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">Follow US:</td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="https://www.facebook.com/GrozeoOfficial" target="_blank">
                                                        <img class="img-icon" style="max-width:18px;" src="[URLPART]/Content/template/images/Facebook.png">
                                                    </a>
                                                </td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="https://www.youtube.com/@Grozeo" target="_blank">
                                                        <img class="img-icon" style="max-width:18px;" src="[URLPART]/Content/template/images/Youtube.png">
                                                    </a>
                                                </td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="https://twitter.com/Grozeo_Official" target="_blank">
                                                        <img class="img-icon" style="max-width: 18px;" src="[URLPART]/Content/template/images/twitter.png">
                                                    </a>
                                                </td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="https://www.instagram.com/grozeo_official/" target="_blank">
                                                        <img class="img-icon" style="max-width:18px;" src="[URLPART]/Content/template/images/Insta.png">
                                                    </a>
                                                </td>
                                                <td style="font-family: sans-serif; font-size: 12px; line-height: 100%; vertical-align: middle; color: #909090; box-sizing: border-box;">
                                                    <a href="https://www.linkedin.com/company/grozeo" target="_blank">
                                                        <img class="img-icon" style="max-width:18px;" src="[URLPART]/Content/template/images/in.png">
                                                    </a>
                                                </td>


                                            </tr>
                                        </table>
                                    </td>
                                    <!-- <td style="font-family: sans-serif; font-size: 12px; vertical-align: top; box-sizing: border-box; color: #909090;" align="right">

                                    </td> -->
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-family: sans-serif; font-size: 12px; vertical-align: top; box-sizing: border-box;" valign="top" align="center">
                                        <p style="font-family: sans-serif; color: #050000; text-align: center; font-size: 12px; font-weight: normal; color: #909090; margin: 0; margin-bottom: 0px;">© 2023-Grozeo. All Right Reserved</p>
                                        <p style="font-family: sans-serif; color: #050000; text-align: center; font-size: 12px; font-weight: normal; color: #909090; margin: 0; margin-bottom: 0px;">Viaan Classic, Global City, Virar(W) Mumbai -401 303 IN <br>69-71 Charing Cross Road London England WC2H ONE UK</p>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

            </td>
        </tr>

        <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                <!-- START Unsubscribe -->
                <table role="presentation" class="Unsubscribe" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;  width: 100%;" width="100%">
                    <tr>
                        <td class="topbodyspacing" height="10" style="line-height:0; font-size: 1px;"></td>
                    </tr>
                    <tr>
                        <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; color: #999999; font-size: 12px; text-align: center;" valign="top" align="center">
                            Don't like these emails? <a href="#" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">Unsubscribe</a>.
                        </td>
                    </tr>
                </table>
                <!-- END Unsubscribe -->
            </td>
        </tr>


    </table>
</body>
</html>
