@{
}
<div class="modal fade" id="age_verification_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded">

            <div class="modal-body">
                <div class="closepopup" data-bs-dismiss="modal" aria-label="Close" style="top:15px"><img src="/images/icons/close.svg"></div>

                <div class="editaddresspopupwrap">
                    <div class="editaddresswrapcard">
                        <div class="titlewrap">
                            <h4 class="w-100 text-align-center">Age Verification</h4>
                        </div>
                        <div class="editadresswrap">
                            Some of the products in this website will be available only to the Adults, Please confirm that you are above legal age
                        </div>
                        <div class="container mt-3 d-flex justify-content-center align-items-center">
                            <div>
                                <button class="btn btn-success mx-2 px-3 py-2 confirm-age" data-confirm="true">Yes, I'm Over 18</button>
                                <button class="btn btn-danger mx-2 px-3 py-2 confirm-age" data-confirm="false">No, I'm Under 18</button>
                            </div>
                        </div>
                    </div>
                </div><!--editaddresspopupwrap-->

            </div>
        </div>
    </div>
</div>