@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div id="content">
        <div class=" section1 pt-0 mt-5">
            <div class="container">
                <div style="padding: 0px 45px;font-size: 12px;height: 300px;">

                    <p style="text-align:center">
                        <span style="font-size:26px" wfd-id="108">
                            <span style="font-family:comic sans ms,cursive" wfd-id="109">
                                <strong><u>Bad Request</u></strong>
                                <br><br>
                                Sorry, your request resulted error with status "Bad Request"!
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>