<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule qugeoapi/(.*)$ qugeoapi/qugeoapibase.php?request=$1 [QSA,NC,L]
RewriteRule finascopapi/(.*)$ finascopapi/finascopapibase.php?request=$1 [QSA,NC,L]
RewriteRule finascopwalletapi/(.*)$ finascopwalletapi/finascopwalletapibase.php?request=$1 [QSA,NC,L]

</IfModule>  
